* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif; }

header {
  background-color: #222831;
  width: 100%;
  position: fixed;
  height: 8vh;
  display: flex;
  justify-content: space-between; }

.logo {
  width: 30%;
  display: flex; }
  .logo img {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90px;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 50%; }
  .logo h2 {
    color: #EEEEEE;
    text-shadow: 1px 1px 4px black;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    position: relative;
    top: 20px;
    left: 25px; }

.navBar {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  width: 100%;
  justify-content: space-around; }
  .navBar .firstBar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .navBar .firstBar li a {
      color: #EEEEEE;
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px black; }
      .navBar .firstBar li a:hover {
        color: #FD7014;
        text-shadow: 1px 1px 1px black; }
  .navBar .secondBar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .navBar .secondBar .dropDownMobile {
      display: none; }

body {
  background: #939dac;
  background: linear-gradient(180deg, #939dac 0%, #222831 100%); }

.banner {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding-top: 100px; }
  .banner img {
    width: 100%;
    grid-column: 1/13;
    grid-row: 1/13;
    height: 500px; }

.cardBanner {
  grid-column: 5/9;
  grid-row: 7/12;
  box-shadow: 1px 1px 5px 1px black;
  background-color: #eeeeee94;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cardBanner h2 {
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 20px; }
  .cardBanner p {
    color: black;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.4px; }
  .cardBanner a {
    color: #EEEEEE;
    letter-spacing: 1px;
    background-color: #fd7014;
    padding: 10px 30px;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    box-shadow: 1px 1px 8px 1px black;
    text-decoration: none;
    text-align: center; }
    .cardBanner a:hover {
      filter: brightness(120%);
      color: black;
      text-shadow: 1px 1px 1px #EEEEEE; }

.flechas {
  grid-column: 1/13;
  grid-row: 8/10;
  display: flex;
  justify-content: space-between;
  margin: 0 10px; }
  .flechas img {
    width: 40px;
    height: 40px; }

.circulosP {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  grid-column: 6/8;
  grid-row: 12/13;
  align-self: center;
  margin: 0;
  padding: 0; }
  .circulosP li a div {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #EEEEEE; }
  .circulosP li a #uno {
    background-color: #FD7014; }

.titulos h1 {
  color: #EEEEEE;
  font-size: 80px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-top: 30px; }

.titulos .orderList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px; }
  .titulos .orderList li a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black; }
    .titulos .orderList li a:hover {
      color: #FD7014;
      text-shadow: 1px 1px 1px black; }

footer {
  display: none; }
