* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif; }

header {
  background-color: #222831;
  width: 100%;
  position: fixed;
  height: 8vh;
  display: flex;
  justify-content: space-between; }

.logo {
  width: 30%;
  display: flex; }
  .logo img {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90px;
    background-color: #EEEEEE;
    border: 1px solid black;
    border-radius: 50%; }
  .logo h2 {
    color: #EEEEEE;
    text-shadow: 1px 1px 4px black;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 25px; }

.navBar {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  width: 100%;
  justify-content: space-around; }
  .navBar .firstBar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .navBar .firstBar li a {
      color: #EEEEEE;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px black; }
      .navBar .firstBar li a:hover {
        color: #FD7014;
        text-shadow: 1px 1px 1px black; }
  .navBar .secondBar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .navBar .secondBar .dropDownMobile {
      display: none; }

body {
  background: linear-gradient(180deg, #565b62 0%, #222831 100%); }

.banner {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding-top: 100px; }
  .banner img {
    width: 100%;
    grid-column: 1/13;
    grid-row: 1/13;
    height: 500px; }
  .banner .cardBanner {
    grid-column: 5/9;
    grid-row: 7/12;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #eeeeeee3;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .banner .cardBanner h2 {
      color: black;
      text-align: center;
      font-size: 40px;
      margin-top: 20px; }
    .banner .cardBanner p {
      color: black;
      text-align: center;
      font-size: 15px;
      letter-spacing: 0.4px; }
    .banner .cardBanner a {
      color: #EEEEEE;
      letter-spacing: 1px;
      background-color: #fd7014;
      padding: 10px 30px;
      font-size: 20px;
      text-shadow: 1px 1px 2px black;
      text-transform: uppercase;
      box-shadow: 1px 1px 8px 1px black;
      text-decoration: none;
      text-align: center; }
      .banner .cardBanner a:hover {
        filter: brightness(120%);
        color: black;
        text-shadow: 1px 1px 1px #EEEEEE; }

.flechas {
  grid-column: 1/13;
  grid-row: 8/10;
  display: flex;
  justify-content: space-between;
  margin: 0 10px; }
  .flechas img {
    width: 40px;
    height: 40px; }

.circulosP {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  grid-column: 6/8;
  grid-row: 12/13;
  align-self: center;
  margin: 0;
  padding: 0; }
  .circulosP li a div {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #EEEEEE; }
  .circulosP li a #uno {
    background-color: #FD7014; }

.titulos h1 {
  color: #EEEEEE;
  font-size: 80px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-top: 30px; }

.titulos .orderList {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 20px; }
  .titulos .orderList li a {
    color: #EEEEEE;
    text-shadow: 1px 1px 4px black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center; }
    .titulos .orderList li a:hover {
      color: #FD7014;
      text-shadow: 1px 1px 10px 1px black; }

.mangas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .mangas .cardManga {
    width: 224px;
    height: 450px;
    border: 1px 1px 20px 1px black;
    background-color: #222831;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 20px; }
    .mangas .cardManga img {
      grid-column: 1/7;
      grid-row: 1/7;
      height: 300px;
      width: 220px;
      box-shadow: 1px 1px 10px 1px black;
      margin: auto; }
    .mangas .cardManga h2 {
      grid-column: 1/7;
      grid-row: 7/8;
      color: #EEEEEE;
      text-shadow: 1px 1px 4px black;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-align: center;
      margin: 0;
      padding-top: 10px; }
    .mangas .cardManga h3 {
      grid-column: 1/7;
      grid-row: 8/9;
      color: #EEEEEE;
      text-shadow: 1px 1px 4px black;
      font-size: 25px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-align: center; }
    .mangas .cardManga a {
      grid-column: 1/7;
      grid-row: 9/12;
      color: #EEEEEE;
      letter-spacing: 0.3px;
      background-color: #fd7014;
      padding: 10px 0px;
      font-size: 20px;
      text-shadow: 1px 1px 2px black;
      text-transform: uppercase;
      box-shadow: 1px 1px 8px 1px black;
      text-decoration: none;
      text-align: center;
      align-self: center;
      margin: 0 20px; }
      .mangas .cardManga a:hover {
        filter: brightness(120%);
        color: black;
        text-shadow: 1px 1px 1px #EEEEEE; }
    .mangas .cardManga .boxInfo-manga {
      grid-column: 1/5;
      grid-row: 4/5;
      background-color: #fd71148e;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center; }

.numBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  padding: 0; }
  .numBar ul li a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black; }
    .numBar ul li a:hover {
      color: #FD7014;
      text-shadow: 1px 1px 10px 1px black; }

@impo @import "./layout/footer";
