* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body {
    background: linear-gradient(#393e46, #31373f, #2a2f38);
}

header {
    background-color: #222831;
    box-shadow: 1px 1px 20px 2px #EEEEEE;
}

footer {
    background-color: #222831;
}

@media (max-width: 450px) {
    header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        align-items: center;
        position: absolute;
    }

    .logo {
        width: 50%;
        display: flex;
    }

    .logo img {
        width: 50px;
        height: 50px;
        background-color: #EEEEEE;
        border-radius: 50%;
        border: 1px solid black;
        margin-left: 10px;
        margin-top: 5px;
    }

    .logo h2 {
        margin-left: 10px;
        align-self: center;
        letter-spacing: 1px;
        color: #EEEEEE;
    }

    .navBar {
        width: 50%;
        align-self: center;
    }

    .navBar h2 {
        color: #EEEEEE;
        font-size: 20px;
    }

    .navBar .firstBar {
        display: none;
    }

    .navBar .secondBar {
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: flex-end;
        margin: 0;
        align-items: center;
    }

    .secondBar img {
        height: 25px;
        width: 25px;
        align-self: center;
    }

    .navBar .secondBar li a {
        text-decoration: none;
        color: white;
    }
    .menuMobile{
        background-color: #222831;
        --bs-dropdown-min-width: 5rem;
    }
    .menuMobile li a{
        color: #EEEEEE;
        text-decoration: none;
        text-align: end;
    }
    .menuMobile li a:hover{
        background-color: #393e46;
        color: #FD7014;
    }
    .banner {
        padding-top: 80px;
        position: relative;
        z-index: -1;
    }

    .cardBanner {
        height: 160px;
        width: 300px;
        background-color: #eeeeee92;
        box-shadow: 1px 1px 10px 0px black;
        position: absolute;
        top: 120px;
        left: 50px;
    }

    .banner img {
        height: 224px;
        width: 100%;
    }

    .cardBanner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .cardBanner h2 {
        text-align: center;
        letter-spacing: 1px;
        font-size: 35px;
    }

    .cardBanner p {
        text-align: center;

    }

    .cardBanner a {
        text-decoration: none;
        background-color: #FD7014;
        padding: 5px 30px;
        align-self: flex-end;
        margin-right: 20px;
        box-shadow: 1px 1px 5px 1px black;
        color: #EEEEEE;
        text-shadow: 1px 1px 1px black;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
    }

    .banner a img {
        height: 40px;
        width: 40px;
    }

    .banner .left {
        position: absolute;
        top: 180px;
        left: 6px;
    }

    .banner .right {
        position: absolute;
        top: 180px;
        right: 10px;
    }

    .circulosP {
        display: flex;
        list-style: none;
    }

    .titulos {
        display: flex;
        flex-direction: column;
    }

    .titulos h1 {
        letter-spacing: 2px;
        font-size: 40px;
        text-align: center;
        color: #EEEEEE;
        text-shadow: 1px 1px 6px black;
    }

    .titulos .orderList {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .titulos ul li a {
        text-decoration: none;
        color: #EEEEEE;
        text-shadow: 1px 2px 5px black;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .titulos h1 {
        color: #EEEEEE;
        text-transform: uppercase;
    }

    .mangas {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 20px;
    }

    .mangas .cardManga {
        width: 100%;
        height: 170px;
        border: 1px solid black;
        background-color: #eeeeee6c;
        border-radius: 30px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .cardManga img {
        grid-column: 1/3;
        grid-row: 1/5;
        height: 150px;
        width: 100px;
        align-self: center;
        justify-self: flex-end;
        box-shadow: 1px 1px 10px 1px black;
    }

    .cardManga h2 {
        grid-column: 3/7;
        grid-row: 1/3;
        align-self: center;
        justify-self: center;
        color: #EEEEEE;
        font-size: 30px;
        text-transform: uppercase;
        text-shadow: 1px 2px 1px black;
        letter-spacing: 1px;
    }

    .cardManga h3 {
        grid-column: 4/6;
        grid-row: 2/4;
        align-self: center;
        justify-self: center;
        color: #EEEEEE;
        font-size: 25px;
        text-transform: uppercase;
        text-shadow: 1px 2px 1px black;
        letter-spacing: 1px;
    }

    .cardManga a {
        grid-column: 4/6;
        grid-row: 3/5;
        align-self: center;
        background-color: #FD7014;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 3px;
        text-shadow: 1px 1px 1px black;
        box-shadow: 1px 1px 5px 1px black;
        text-transform: uppercase;
    }

    .numBar {
        margin: 10px 5px;
    }

    .numBar ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    .numBar ul li a {
        color: #EEEEEE;
        text-decoration: none;
    }
    .numBar ul li a:hover{
        color: #FD7014;
        text-shadow: 1px 1px 30px black;
    }

    /* ---------------Footer--------------------- */
    footer {
        padding: 14px 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    footer h2 {
        color: #EEEEEE;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px black;
        letter-spacing: 0.5px;
        text-align: center;
        font-size: 26px;
    }


    .masInfo {
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    .masInfo ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .masInfo ul a {

        text-decoration: none;
        color: #EEEEEE;
        font-size: 25px;
    }


    .mediosPago {
        grid-column: 3/5;
        grid-row: 3/5;
        width: 200px;
        height: 150px;
        margin-top: 20px;
    }

    .mediosPago .imagenesP {
        width: 170px;
        height: 150px;
        margin: auto;

    }

    .mediosPago .imagenesP img {
        width: 80px;
    }

    .contactanos {
        grid-column: 3/5;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .contactanos h2 {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .contactanos .adress h3 {
        color: #EEEEEE;
        font-size: 14px;
        text-shadow: 1px 1px 1px black;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .contactanos .iconos {
        grid-column: 1/2;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 5px;
        row-gap: 6px;
    }

    .contactanos .iconos img {
        width: 27px;
    }

    .contactanos .adress {
        grid-column: 2/5;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-top: 3px;
    }

    .redes {
        grid-column: 1/3;
        grid-row: 3/5;
        margin-top: 20px;
    }

    .redes ul {
        margin-top: 20px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }

    .newsl {
        display: none;
    }
}





@media (min-width:460px) {
    header{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .logo{
        display: flex;
        width: 30%;
    }
    .navBar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #222831;
        height: 8vh;
        width: 70%;
    }
    .firstBar{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    .firstBar li a{
        color: #EEEEEE;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
    .secondBar{
        display: flex;
        list-style: none;
        gap: 30px;
    }
    .dropDownMobile {
        display: none;
    }
/* ------------Inicio Index Desktop------- */
    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .banner img {
        width: 840px;
        height: 440px;
        align-self: center;
        position: relative;
    }

    .cardBanner {
        position: absolute;
        bottom: 270px;
        left: 600px;
        background-color: #eeeeeeb6;
        height: 170px;
        width: 300px;
        box-shadow: 1px 1px 20px 1px black;
    }

/*-------- Seccion Mangas --------*/
    .mangas {
        display: flex;
        justify-content: space-evenly;
        margin: 100px 50px;
    }

    .mangas .cardManga {
        height: 400px;
        width: 227px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mangas .cardManga img {
        height: 300px;
        width: 220px;
    }

    .cardManga h2 {
        text-align: center;
        color: #EEEEEE;
    }

    .cardManga h3 {
        text-align: center;
        color: #EEEEEE;
    }

    .cardManga a {
        text-align: center;
        border: 1px solid black;
        background-color: #FD7014;
    }

/*-------- Footer-------- */
    footer {
        background-color: #222831;
        height: 150px;
        display: flex;
    }

    /* -----------------AddtoCart Page------------------- */






}