main{
.bannerAdd{
    width: 100%;
    padding-top: 18px;
    @include grid(repeat(12,1fr),repeat(8,1fr));
    #fondito{
        width: 100%;
        margin: auto;
        grid-column: 1/13;
        grid-row: 1/8;
        max-height: 90%;
        filter: brightness(70%);
        z-index: -1;
    }
    .cardAddCart{
        grid-column: 1/13;
        grid-row: 2/9;
        background-color: $blanco;
        width: 850px;
        height: 550px;
        align-self: center;
        justify-self: center;
        box-shadow: 0px 2px 10px 3px black;
        @include grid (repeat(12,1fr), repeat(12,1fr));
        
        h2{
            grid-column: 6/13;
            grid-row: 2/4;
            text-align: center;
            align-self: center;
            text-transform: uppercase;
            font-size: 45px;
            letter-spacing: 2px;
        }
        img{
            grid-column: 2/6;
            grid-row: 2/12;
            width: 310px;
            height: 480px;
            justify-self: center;
        }
        .colIzq{
            grid-column: 8/10;
            grid-row: 4/7;
            justify-self: center;
            h3{
                letter-spacing: 0.4px;
                font-size: 20px;
            }}
        .colDere{
            grid-column: 10/12;
            grid-row: 4/7;
            h3{
                letter-spacing: 0.4px;
                font-size: 20px;
            }
        }    
        .cantidad{
            grid-column: 8/12;
            grid-row: 7/8;
            justify-self: center;
            label{
                font-size: 20px;
                margin-right: 20px;
            }
            input{
                padding: 0px 20px;
            }
        }
        a{
            grid-column: 7/12;
            grid-row: 8/9;
            @include addcart-boton(18px, 0px, (10px 80px));
            justify-self: center;
            align-self: center;
        }
        .sinopsis{
            grid-column: 7/12;
            grid-row: 9/13;
            align-self: center;
            h3{
                text-align: start;
                font-size: 18px;
            }
            p{
                font-size: 14px;
                text-align: justify;
                letter-spacing: 0.4px;
            }
        }
    }
    }
    .preview{
        width: 80%;
        padding-top: 50px;
        margin: auto;
        h2{
            text-align: center;
            color: $blanco;
            text-shadow: 1px 1px 1px black;
            font-size: 40px;
            margin-bottom: 10px;
        }
        .contenedorPreview{
            display: flex;
            justify-content: space-evenly;
            img{
                width: 20%;
                height: 300px;
            }
        }}
    .relateds{
        padding-top: 50px;
        h2{
            margin-top: 20px;
            text-align: center;
            color: $blanco;
            font-size: 40px;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 20px;
        }
        #mangaAdd{
            width: 70%;
            margin: auto;
            justify-content: space-evenly;
            .cardManga{
                width: 150px;
                height: 300px;
                img {
                    height: 200px;
                    width: 150px;
                }
                h2{
                    font-size: 20px;
                }
                h3{
                    font-size: 18px;
                }
                a{
                    font-size: 10px;
                    padding: 3px 10px;
                }
            }
        }
    }
    #flechasAdd{
        width: 90%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        position: relative;
        bottom: 250px;
    }
}