footer{
    background-color: $gris;
    @include flex-s (space-around);
    padding-top: 20px;
    h2{
        @include subtitulos(20px, 0.5px);
    }
}
.masInfo{
    ul{
        @include flex(center, center, column, 5px);
        list-style: none;
        padding: 0;
    }
    a{
        @include links-a(15px);
        &:hover{
            color:$naranja;
            text-shadow: $sombra-box-s;
        }
    }
}
.mediosPago{
    .imagenesP{
        @include grid(repeat(2,1fr), repeat(2,1fr));
        gap: 5px;
        img{
            width: 50px;
        }
            &:nth-child(1){
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
            }
            &:nth-child(2){
                grid-column: 2/3;
                grid-row: 1/2;
            }
            &:nth-child(3){
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &:nth-child(4){
                grid-column: 2/3;
                grid-row: 2/3;
            }
    }
    
}
.contactanos{
    @include grid(repeat(3,1fr), repeat(3,1fr));
    h2{
        grid-column: 1/4;
        grid-row: 1/2;
        margin: 0;
    }
    .iconos{
        grid-column: 1/2;
        grid-row: 1/4;
        align-self: center;
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        img{
            width: 32px;
        }
    }
    .adress{
        grid-column: 2/4;
        grid-row: 1/4;
        align-self: center;
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        gap: 5px;
        h3{
            color: $blanco;
            font-size: 15px;
        }
    }
}
.redes{
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
}}
.newsl{
    input{
        border-radius: 20px;
        text-align: center;
        border: $sombra-box-s;
    }
    a{
        color: $blanco;
        background-color: $naranja;
        text-decoration: none;
        padding: 0px 7px;
        border-radius: 10px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px black  ;
    }
}