header {
    background-color: #222831;
    width: 100%;
    position: fixed;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.logo{
        width: 30%;
        display: flex;
        img{
            position: relative;
            top:10px;
            left: 20px;
            width: 90px;
            background-color: $blanco;
            border:$bordes;
            border-radius: $circulo;
        }
        h2{
            @include subtitulos(25px, 0.3px);
            position: relative;
            top: 20px;
            left: 25px;
            margin: 0;
        }
}
.navBar{
        display: flex;
        align-items: flex-end;
        gap: 30px;
        width: 100%;
        .firstBar{
            width: 60%;
            justify-self: center;
            @include flex-ul(flex-end, 50px);
            li a{
                @include links-a(20px);
                &:hover{
                    color: #FD7014;
                    text-shadow: 1px 1px 1px black;
                }
            }
        }
        .secondBar {
            width: 30%;
            @include flex-ul(flex-end,20px);
            li a img{
                width: 25px;
            }
            .menuM{
                display: none;
            }
        }
}