body{
    background: linear-gradient(180deg, rgb(86, 91, 98) 0%, rgba(34,40,49,1) 100%);
    margin: auto;    
}
.banner{
    margin: auto;
    width: 80%;
    @include grid(repeat(12,1fr),repeat(12,1fr));
    padding-top: 100px;
    img{
        width: 100%;
        grid-column: 1/13;
        grid-row: 1/13;
        height: 80vh;
    }
    .cardBanner{
        grid-column: 1/13;
        grid-row: 7/13;
        width: 400px;
        height: 200px;
        justify-self: center;
        box-shadow: $sombra-box-m;
        background-color: #eeeeeee3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        h2{
            color: black;
            text-align: center;
            font-size: 40px;
        }
        p{
            color: black;
            text-align: center;
            font-size: 15px;
            letter-spacing: 0.4px;
            margin: 0px 10px ;
        }
        a{
            @include addcart-boton(15px, 0.5px, (5px 30px) );
        &:hover{
            @include addcart-boton-hover;
        }}
    }
}

.flechas{
    grid-column: 1/13;
    grid-row: 8/10;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    img {
        width: 40px;
        height: 40px;
    }
}
.circulosP {
    @include flex-ul(center, 10px);
    grid-column: 6/8;
    grid-row: 11/12;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    li a{
        div{
        border: $bordes;
        border-radius: $circulo;
        height: 20px;
        width: 20px;
        background-color: $blanco;
    }
        #uno{
            background-color: $naranja;
        }}
}
.titulos{
    h1{
        @include titulos(80px, 1px);
        margin-top: 30px;
    }
    .orderList{
        margin: 30px 20px;
        @include flex-ul(space-evenly, 20px);
    li a{
        @include links-a(20px);
        &:hover{
            color: $naranja;
            text-shadow: $sombra-box-s;
            }
        }
    }}

.numBar{
    ul{
        @include flex-ul(center, 20px);
        padding: 0;
        margin-top: 10px;
        margin-bottom: 60px;
        li a{
            @include links-a(20px);
            &:hover{
                color: $naranja;
                text-shadow: $sombra-box-s;
            }
        }
    }}