body{
    background: linear-gradient(180deg, rgb(86, 91, 98) 0%, rgba(34,40,49,1) 100%);
    margin: auto;    
}
.banner{
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
    @include grid(repeat(12,1fr),repeat(8,1fr));
    padding-top: 90px;
    max-width: 900px;
    min-width: 500px;
    img{
        width: 100%;
        height: 100%;
        grid-column: 1/13;
        grid-row: 1/9;
    }
    .cardBanner{
        grid-column: 1/13;
        grid-row: 5/8;
        justify-self: center;
        width: 300px;
        height: 210px;
        box-shadow: $sombra-box-m;
        background-color: #eeeeeee3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        h2{
            color: black;
            text-align: center;
            font-size: 40px;
            margin-top:5px;
        }
        p{
            color: black;
            text-align: center;
            font-size: 15px;
            letter-spacing: 0.4px;
            margin: 0px 10px ;
        }
        a{
            @include addcart-boton(15px, 0.5px, (5px 30px) );
        &:hover{
            @include addcart-boton-hover;
        }}
    }
}
.flechas{
    grid-column: 1/13;
    grid-row: 7/8;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    img {
        width: 40px;
        height: 40px;
    }
}
.circulosP {
    @include flex-ul(center, 10px);
    grid-column: 6/8;
    grid-row: 8/9;
    align-self: center;
    margin: 0;
    padding: 0;
    li a{
        div{
        border: $bordes;
        border-radius: $circulo;
        height: 20px;
        width: 20px;
        background-color: $blanco;
    }
        #uno{
            background-color: $naranja;
        }}
}
.titulos{
    display: flex;
    flex-direction: column;
    h1{
        @include titulos(60px, 2px);
    }
    .orderList{
        margin-top: 20px;
        margin-bottom: 30px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        li a{
            @include links-a(25px);
        }
    }
}
.mangas{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .cardManga{
        width: 200px;
        height: 400px;
        border: $sombra-box-m;
        background-color: $gris;
        @include grid(repeat(6,1fr), repeat(12,1fr));
        margin-bottom: 20px;
        img{
            grid-column: 1/7;
            grid-row: 1/7;
            height: 250px;
            width: 198px;
            box-shadow: $sombra-box-s;
            margin: auto;
        }
        h2{
            grid-column: 1/7;
            grid-row: 7/8;
            @include subtitulos(25px, 1px);
            margin: 0;
            padding-top: 10px;
            }
        h3{
            grid-column: 1/7;
            grid-row: 8/9;
            @include subtitulos (25px, 1px);
        }
        a{
            grid-column: 1/7;
            grid-row: 9/12;
            @include addcart-boton(15px, 0.3px,10px 0px);
            align-self: center;
            margin: 0 20px;
            &:hover{
                @include addcart-boton-hover
            }
        }
        .boxInfo-manga{
            grid-column: 1/4;
            grid-row: 4/5;
            background-color: #fd71148e;
            border: 2px solid black;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            h3{
                -webkit-text-stroke-width: 0.1px;
                -webkit-text-stroke-color: black;
            }
            
        }
        .numero-manga{
            grid-column: 1/3;
            grid-row: 2/3;
            align-self: center;
            background-color: #fd71148e;
            border: 2px solid black;
            h3{
                text-shadow: 1px 1px 5px black;
                -webkit-text-stroke-width: 0.2px;
                -webkit-text-stroke-color: black;
            }
        }
    }
}
.numBar{
    ul{
        @include flex-ul(center, 20px);
        padding: 0;
        margin-top: 10px;
        margin-bottom: 40px;
        li a{
            @include links-a(20px);
            &:hover{
                color: $naranja;
                text-shadow: $sombra-box-s;
            }
        }
    }
}
.figuras{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .figura-card{
        width: 260px;
        height: 400px;
        @include grid(repeat(6,1fr),repeat(6,1fr));
        margin: 10px 10px ;
        justify-items: center;
        margin-bottom: 30px;
        .borde{
            grid-column: 1/7;
            grid-row: 1/6;
            width: 250px;
            height: 400px;
            border-left: 125px solid rgba(255, 255, 255, 0.726);
            border-right: 125px solid rgba(255, 255, 255, 0.726);
            border-top:  150px solid transparent;
        }
        figure{
            grid-column: 1/7;
            grid-row: 1/7;
            margin: 0;
            img{
                width: 250px;
                height: 250px;
                filter: drop-shadow(0.3rem 0.5rem 1rem black);
                z-index: 0;
            }
        figcaption{ 
            h3{
                margin: 0;
                color: black;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                
            }
            h4{
                margin: 0;
                color: black;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                
            }
        }
        }
        a{ 
            margin-top:10px ;
            grid-column: 1/7;
            grid-row: 5/6;
            justify-self: center;
            align-self: center;
            @include addcart-boton(15px, 0.5px, 10px 50px);
        &:hover{
        @include addcart-boton-hover;
        }}
        .boxInfo-figuras{
            border: 1px solid black;
            background-color: #fd7114b7;
            color: #EEEEEE;
            grid-column: 1/5;
            grid-row: 1/3;
            box-shadow: 1px 1px 6px 1px black;
            justify-self: flex-start;
            align-self: flex-start;
            h3{
                font-size: 20px;
                padding: 2px 10px;
                color: #EEEEEE;
                text-align: center;
                -webkit-text-stroke-width: 0.1px;
                -webkit-text-stroke-color: black;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}
#tituloFiguras {
    padding-top: 70px;
}
#mangas{
    padding-top: 70px;
}
#aboutUsMain{
    #aboutUs{
        padding-top: 60px;
        img {
            filter: brightness(40%);}
        h1{
            position: relative;
            bottom: 100px;
        }
    }
    .articles{
        width: 90%;
        margin: auto;
        h2{
            text-align: center;
            color: $blanco;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 15px;
            letter-spacing: 1px;
        }
        .contenedorArticle article p{
            color:$blanco;
            text-align: justify;
            text-shadow: 1px 1px black;
            margin-bottom: 40px;
            strong{
                color: black;
                text-shadow: 1px 1px 3px $blanco;
            }
        }
    }
    .us{
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
        img{
            width: 100%;
        }
        .sideUs{
            h2{
                text-align: center;
                color: $blanco;
                text-shadow: 1px 1px 1px black;
                margin-top: 20px;
                letter-spacing: 1px ;
            }
            p{
                text-align: justify;
                color: $blanco;
                text-shadow: 1px 1px 1px black;
                strong{
                    color: black;
                    text-shadow: 1px 1px 2px $blanco;
                }}}}}
.bannerAdd{
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
    @include grid(repeat(12,1fr),repeat(8,1fr));
    padding-top: 30px;
    #fondito{
        width: 100%;
        height: 100%;
        grid-column: 1/13;
        grid-row: 1/8;
        filter: brightness(70%);
        z-index: -1;
    }
    .cardAddCart{
        grid-column: 1/13;
        grid-row: 2/9;
        background-color: $blanco;
        border-radius: 30px;
        width: 550px;
        height: 350px;
        align-self: center;
        justify-self: center;
        box-shadow: 1px 1px 10px 5px black;
        @include grid(repeat(10,1fr),repeat(8,1fr));
        h2{
            grid-column: 5/11 ;
            grid-row: 2/3;
            text-align: center;
            letter-spacing: 1px;
            font-size: 30px;
        }
        img{
            width: 200px;
            height: 270px;
            grid-column: 1/6;
            grid-row: 1/11;
            justify-self: center;
            align-self: center;
            
        }
        
        .colIzq{
                grid-column: 6/8;
                grid-row: 3/7;
                justify-self: center;
                h3{
                    font-size: 20px;
                }
            }
        .colDere{
            grid-column: 8/10;
            grid-row: 3/7;
            justify-self: center;
                h3{
                    font-size: 20px;
                }
            }
        .cantidad{
            grid-column: 6/10;
            grid-row: 6/7;
            justify-self: center;
            label{
                padding-right: 10px;
            }
        }
        a{
            grid-column: 6/10;
            grid-row: 7/8;
            @include addcart-boton(15px, 0.2px, 5px 30px);
            align-self: flex-end;
            justify-self: center;
        }
        .sinopsis{
            display: none;
        }
    }}
    .preview{
        padding-top: 10px;
        margin: auto;
        width: 90%;
        h2{
            color: $blanco;
            letter-spacing: 1px;
            font-size: 30px;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        .contenedorPreview{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        img{
            width: 180px;
            height: 300px;
            margin-left: 7px;
            margin-bottom: 5px;
        }}
    }
    .relateds{
        padding-top: 50px;
        h2{
            color: $blanco;
            letter-spacing: 1px;
            font-size: 30px;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        #mangaAdd{
            width: 90%;
            margin: auto;
            justify-content: space-evenly;
            .cardManga{
                width: 150px;
                height: 300px;
                img {
                    height: 200px;
                    width: 150px;
                }
                h2{
                    font-size: 20px;
                }
                h3{
                    font-size: 18px;
                }
                a{
                    font-size: 10px;
                    padding: 3px 10px;
                }
            }
        }
        #flechasAdd{
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 200px;
        }
    }