header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: $gris;

.logo{
    width: 50%;
    display: flex;
    img{
        width: 50px;
        height: 50px;
        background-color: $blanco;
        border-radius: $circulo;
        border: 1px solid black;
        margin-left: 10px;
        margin-top: 5px;
    }
    h2{
        font-size: 20px;
        margin-left: 10px;
        align-self: center;
        letter-spacing: 1px;
        color: $blanco;
        align-self: flex-end;
    }
    }
.navBar{
    width: 50%;
    align-self: flex-end;
    h2{
        color: $blanco;
        font-size: 20px;
    }
    .firstBar{
        display: none;
    }
    .secondBar{
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: flex-end;
        margin: 0;
        align-items: flex-end;
        
        img{
            height: 25px;
            width: 25px;
            align-self: center;
        }
        li a{
            text-decoration: none;
            color: $blanco;
        }
    }}}