header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: $gris;

.logo{
    width: 40%;
    img{
        width: 50px;
        height: 50px;
        background-color: $blanco;
        border-radius: $circulo;
        border: 1px solid black;
        margin-left: 30px;
        margin-top: 20px;
    }
    h2{
        font-size: 20px;
        letter-spacing: 1px;
        color: $blanco;
        margin-left: 20px;
    }
    }
.navBar{
    width: 60%;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    h2{
        color: $blanco;
        font-size: 20px;
    }
    .firstBar{
        width: 30%;
        display: flex;
        flex-direction: column; 
        gap: 4px;
        list-style: none;
        li a{
            text-decoration: none;
            color: $blanco;
            text-transform: uppercase;
        }
    }
    .secondBar{
        width: 30%;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100px;
        justify-content: flex-end;
        margin: 0;
        align-items: flex-end;
        
        img{
            height: 25px;
            width: 25px;
            align-self: center;
        }
        .menuM{
            display: none;
        }
        li a{
            text-decoration: none;
            color: $blanco;
        }
    }}}