header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: $gris;

.logo{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    img{
        width: 50px;
        height: 50px;
        background-color: $blanco;
        border-radius: $circulo;
        border: 1px solid black;
        margin-left: 5px;
        margin-top: 5px;
    }
    h2{
        font-size: 20px;
        letter-spacing: 1px;
        color: $blanco;
    }
    }
.navBar{
    width: 50%;
    align-self: flex-end;
    display: flex;
    h2{
        color: $blanco;
        font-size: 20px;
    }
    .firstBar{
        display: none;
    }
    .secondBar{
        width: 50%;
        list-style: none;
        margin: 0;
        display: inline-flex;
        gap: 15px;
        img{
            height: 25px;
            width: 25px;
            align-self: center;
        }
        li a{
            text-decoration: none;
            color: $blanco;
        }
        .menuM 
        {   &:hover .submenu-container{
            display: block;
            position: absolute;
            right: 5px;
            background-color: $gris;
            padding: 0px 20px;
            padding-bottom: 5px;
            ul{
                
                display: block;
                list-style: none;
                li a{
                    padding: 10px 10px;
                    text-transform: uppercase;
                    font-size: 15px;
                &:hover{
                    color: $naranja;
                }}
            }
        }
            .submenu-container{
            display: none;
        }}
    }}}