body{
    background: linear-gradient(180deg, rgb(86, 91, 98) 0%, rgba(34,40,49,1) 100%);
    }
.banner {
    padding-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 50px;
    img{
        height: 300px;
        width: 100%;
        grid-column: 1/13;
        grid-row: 1/13;
    }
    .cardBanner{
        background-color: #eeeeeed4;
        box-shadow: 1px 1px 10px 0px black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 3/10;
        grid-row: 4/12;
        h2{
            letter-spacing: 0.5px;
            text-align: center;
        }
        p{
            text-align: justify;
            font-size: 15px;
            margin: 5px 5px 5px 5px;
        }
        a{
            @include addcart-boton(15px, 0.5px, 5px 5px);
            margin: 0px 40px;
        }    
    }

    .flechas{
        display: flex;
        justify-content: space-between;
        grid-column: 1/13;
        grid-row: 7/9;
        img{
            height: 40px;
            width: 40px;
        }
    }
    .circulosP{
        display: flex;
        list-style: none;
    }
}
.titulos{
    display: flex;
    flex-direction: column;
    h1{
        @include titulos(40px, 2px);
    }
    .orderList{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        li a{
            @include links-a(15px);
        }
    }
}
.mangas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px;
    .cardManga{
        width: 100%;
        height: 170px;
        border: $bordes;
        background-color: #eeeeee6c;
        border-radius: 30px;
        @include grid(repeat(12,1fr),repeat(12,1fr));
        img{
            grid-column: 2/5;
            grid-row: 2/12;
            height: 130px;
            width: 85px;
            box-shadow: $sombra-box-m;
            align-self: center;
            justify-self: center;
        }
        h2{
            grid-column: 6/12;
            grid-row: 3/5;
                color: $blanco;
                font-size: 20px;
                text-align: center;
                align-self: center;
                justify-self: center;
                text-transform: uppercase;
                text-shadow: 1px 2px 1px black;
                letter-spacing: 1px;
                margin: 0;
                padding-bottom: 5px;
            }
        h3{
            grid-column: 6/12;
            grid-row: 5/8;
            text-align: center;
            align-self: center;
            justify-self: center;
            color: $blanco;
            font-size: 18px;
            text-transform: uppercase;
            text-shadow: 1px 2px 1px black;
            letter-spacing: 1px;
            margin: 0;
            padding-top: 5px;
            }
            a{
                grid-column: 6/12;
                grid-row: 8/11;
                align-self: center;
                background-color: #FD7014;
                color: white;
                text-decoration: none;
                text-align: center;
                padding: 3px;
                text-shadow: 1px 1px 1px black;
                box-shadow: 1px 1px 5px 1px black;
                text-transform: uppercase;
            }
            .boxInfo-manga{
                grid-column: 1/4;
                grid-row: 8/10;
                background-color: #fd7114da ;
                border: $bordes;
                text-align: center;
            h3{
                font-size: 15px;
                padding: 5px 0px;
                color: $blanco;
            }
            }
    }
}

#tituloMangas{
    padding-top: 90px;
}
#tituloFiguras{
    padding-top: 90px;
    .orderList li a{
        @include links-a(15px);
    }
}
.figuras{
    display: flex;
    flex-direction: column;
    .borde{
        display: none;
    }
    .figura-card{
        background-color:  #eeeeeeac;
        border-radius: 20px;
        margin: 20px 20px;
        box-shadow: $sombra-box-m;
        height: 450px;
        width: 90%;
        @include grid(repeat(12,1fr),repeat(12,1fr));
        figure{
            grid-column: 2/12;
            grid-row: 2/10;
            margin: auto;
            img{
                width: 250px;
                filter: drop-shadow(0.3rem 0.5rem 1rem black);
            }
            figcaption{
                text-align: center;
                h3{
                    grid-column: 3/11;
                    grid-row: 8/9;
                    margin: 0;
                    justify-self: center;
                    font-size: 23px;
                    padding-top: 5px;
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px $blanco;
                }
                h4{
                    grid-column: 3/11;
                    grid-row: 9/10;
                    margin: 0;
                    justify-self: center;
                    font-size: 21px;
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px $blanco;
                }}
        }
        a{
            grid-column: 2/12;
            grid-row: 10/13;
            justify-self: center;
            align-self: center;
            text-decoration: none;
            background-color: #FD7014;
            color: #EEEEEE;
            text-shadow: 1px 1px 1px black;
            padding: 6px 40px;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            box-shadow: 1px 1px 5px 1px black;
        }
        .boxInfo-figuras {
            grid-column: 1/5;
            grid-row: 2/3;
            border: $bordes;
            background-color: $naranja;
            h3{
                color: $blanco;
                text-align: center;
                text-shadow: 1px 1px 1px black;
            }
        }
    }
}
.numBar {
    margin: 10px 5px;
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        li a{
            color: $blanco;
            text-shadow: 1px 1px 30px black;
        }
    }
}
#aboutUsMain{
    #aboutUs{
        padding-top: 60px;
        img {
            filter: brightness(40%);}
        h1{
            position: relative;
            bottom: 63px;
        }
    }
    .articles{
        width: 90%;
        margin: auto;
        h2{
            text-align: center;
            color: $blanco;
            text-shadow: 1px 1px black;
            margin-bottom: 15px;
        }
        .contenedorArticle article p{
            color:$blanco;
            text-align: justify;
            text-shadow: 1px 1px black;
            margin-bottom: 40px;
            strong{
                color: black;
                text-shadow: 1px 1px 3px $blanco;
            }
        }
    }
    .us{
        width: 90%;
        margin: auto;
        img{
            width: 100%;
        }
        .sideUs{
            h2{
                text-align: center;
                color: $blanco;
                text-shadow: 1px 1px black;
                margin-top: 20px;
            }
            p{
                text-align: justify;
                color: $blanco;
                text-shadow: 1px 1px black;
                strong{
                    color: black;
                    text-shadow: 1px 1px 2px $blanco;
                }}}}}
.bannerAdd{
    width: 100%;
    padding-top: 100px;
    #fondito{
        display: none;
    }
    .cardAddCart{
        background-color: $blanco;
        border-radius: 30px;
        @include grid(repeat(10,1fr),repeat(8,1fr));
        h2{
            grid-column: 6/11 ;
            grid-row: 2/4;
            text-align: center;
            letter-spacing: 1px;
            font-size: 20px;
        }
        img{
            width: 150px;
            height: 220px;
            grid-column: 1/6;
            grid-row: 1/11;
            justify-self: center;
            align-self: center;
            
        }
        
        .colIzq{
                grid-column: 6/8;
                grid-row: 3/7;
                h3{
                    font-size: 15px;
                }
            }
        .colDere{
            grid-column: 8/11;
            grid-row: 3/7;
                h3{
                    font-size: 15px;
                }
            }
        .cantidad{
            grid-column: 6/10;
            grid-row: 6/7;
            align-self: flex-start;
            justify-self: flex-start;
        }
        a{
            grid-column: 6/10;
            grid-row: 7/8;
            @include addcart-boton(15px, 0.2px, 5px 30px);
            align-self: flex-end;
            justify-self: center;
        }
        .sinopsis{
            display: none;
        }
    }}
    .preview{
        padding-top: 10px;
        margin: auto;
        width: 100%;
        h2{
            color: $blanco;
            letter-spacing: 1px;
            font-size: 30px;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        .contenedorPreview{
            display: flex;
            flex-wrap: wrap;
        img{
            width: 180px;
            height: 300px;
            margin-left: 7px;
        }}
    }
    .relateds{
        padding-top: 50px;
        h2{
            color: $blanco;
            letter-spacing: 1px;
            font-size: 30px;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        .mangas{
            .flechas{
                display: none;
            }
        }
    }