$sombra-box-xs:1px 1px 5px 1px black;
$sombra-box-s: 1px 1px 10px 1px black  ;
$sombra-box-m: 1px 1px 20px 1px black   ;
$sombra-txt-b: 1px 1px 1px black  ;
$sombra-txt-w: 1px 1px 1px #eeeeee;
$sombra-txt-b: 1px 1px 1px blue;

$bordes: 1px solid black    ;
$circulo: 50%;

$blanco:#EEEEEE;
$naranja:#FD7014;
$gris:#222831;