#aboutUsMain{
    padding: 0;
    margin: 0;
    #aboutUs{
        padding-top: 50px;
        img{
            width: 100%;
            height: 200px;
            filter: brightness(40%);
            position: absolute;
            z-index: -1;
        }
        h1{ 
        font-size: 100px;
        margin: 0;
        text-shadow: 1px 1px 10px black;
        letter-spacing: 3px;
        padding-top: 30px;
        }}
    .articles{
        margin-top: 40px;
        h2{
            text-align: center;
            color: $blanco;
            margin-bottom: 30px;
            font-size: 30px;
            letter-spacing: 1px;
            text-shadow: 1px 1px 3px black;
        }
    .contenedorArticle{
        margin: auto;
        display: flex;
        gap: 40px;
        .cuadroTexto{    
            width: 50%;
            margin-left: 70px;
            p{
                text-align: justify;
                color: $blanco;
                text-shadow: 1px 1px 3px black;
                strong{
                    text-shadow: 1px 1px 3px $blanco;
                    color: black;
                }
            }}
    .cuadroTextoDos{
        width: 50%;
        margin-right: 80px;
        p{
            text-align: justify;
            color: $blanco;
            text-shadow: 1px 1px 1px black;
            strong{
                text-shadow: 1px 1px 3px $blanco;
                color: black;
            }
        }}}}
    .us{
    display: flex;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 80px;
    img{
        width: 50%;
        }
    .sideUs{
        width: 40%;
        margin: auto;
        h2{
            text-align: center;
            color: $blanco;
            text-shadow: 1px 1px 5px black;
            padding-bottom: 30px;
            font-size: 40px;
            letter-spacing: 1px;
        }
        p{
            color: $blanco;
            text-shadow: 1px 1px 5px black;
            text-align: justify;
            strong{
                color: black;
                text-shadow: 1px 1px 2px $blanco;
            }
        }
    }
}
}