body{
    background: linear-gradient(180deg, rgb(86, 91, 98) 0%, rgba(34,40,49,1) 100%);
    }
.banner{
    margin: auto;
    width: 80%;
    @include grid(repeat(12,1fr),repeat(12,1fr));
    padding-top: 100px;
    img{
        width: 100%;
        grid-column: 1/13;
        grid-row: 1/13;
        height: 500px;
    }
    .cardBanner{
        grid-column: 5/9;
        grid-row: 7/12;
        box-shadow: $sombra-box-xs;
        background-color: #eeeeeee3;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: black;
            text-align: center;
            font-size: 40px;
            margin-top:20px;
        }
        p{
            color: black;
            text-align: center;
            font-size: 15px;
            letter-spacing: 0.4px;
        }
        a{
            @include addcart-boton(20px, 1px, (10px 30px) );
        &:hover{
            @include addcart-boton-hover;
        }}
    }
}

.flechas{
    grid-column: 1/13;
    grid-row: 8/10;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    img {
        width: 40px;
        height: 40px;
    }
}
.circulosP {
    @include flex-ul(center, 10px);
    grid-column: 6/8;
    grid-row: 12/13;
    align-self: center;
    margin: 0;
    padding: 0;
    li a{
        div{
        border: $bordes;
        border-radius: $circulo;
        height: 20px;
        width: 20px;
        background-color: $blanco;
    }
        #uno{
            background-color: $naranja;
        }}
}
.titulos{
    h1{
        @include titulos(80px, 1px);
        margin-top: 30px;
    }
    .orderList{
        @include flex-ul(space-between, 20px);
    li a{
        @include subtitulos(20px, 0.5px);
        &:hover{
            color: $naranja;
            text-shadow: $sombra-box-s;
            }
        }
    }}

.mangas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .cardManga{
        width: 224px;
        height: 450px;
        border: $sombra-box-m;
        background-color: $gris;
        @include grid(repeat(6,1fr), repeat(12,1fr));
        margin-bottom: 20px;
        img{
            grid-column: 1/7;
            grid-row: 1/7;
            height: 300px;
            width: 220px;
            box-shadow: $sombra-box-s;
            margin: auto;
        }
        h2{
            grid-column: 1/7;
            grid-row: 7/8;
            @include subtitulos(30px, 0.5px);
            margin: 0;
            padding-top: 10px;
            }
        h3{
            grid-column: 1/7;
            grid-row: 8/9;
            @include subtitulos(25px, 0.5px);
        }
        a{
            grid-column: 1/7;
            grid-row: 9/12;
            @include addcart-boton(20px, 0.3px,10px 0px);
            align-self: center;
            margin: 0 20px;
            &:hover{
                @include addcart-boton-hover
            }
        }
        .boxInfo-manga{
            grid-column: 1/5;
            grid-row: 4/5;
            background-color: #fd71148e;
            border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }}

.numBar{
    ul{
        @include flex-ul(center, 20px);
        padding: 0;
        li a{
            @include links-a
            &:hover{
                color: $naranja;
                text-shadow: $sombra-box-s
            }
        }
    }}